<div ng-app="app">
    <div ng-controller="groceryCtrl" ng-init="setupGroceries()">

        <datalist id="foods">
            <option>Pineapple</option>
            <option>Grapefruit</option>
            <option>Peach</option>
        </datalist>

        <!-- display groceries -->
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--10-col"></div>
            <div class="mdl-cell mdl-cell--1-col">
                <button class="mdl-button mdl-js-button mdl-button--icon" data-toggle="modal" data-target="#myModal2" data-backdrop="false">
                    <i class="material-icons">add_circle</i>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal2" role="dialog">
                    <div class="modal-dialog" id="add_modal">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title">New Grocery</h4>
                            </div>
                            <div class="modal-body">
                                <!-- Add grocery -->

                                <form action="#">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input ng-model="newGroceryName" class="mdl-textfield__input" type="text" id="grocery_name">
                                        <label class="mdl-textfield__label" for="grocery_name">Name:</label>
                                    </div>
                                    <input ng-model="addExpirationDate" type="date">
                                    <button ng-click="addGroceries(newGroceryName, addExpirationDate, <%= current_user.id %>)" class="btn btn-success">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- modal 1 end -->

            </div>
            <div class="mdl-cell mdl-cell--1-col">
                <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
                    <button type="button" name="button" class="mdl-button" ng-click="orderByMe('expiration_date',false)">Expiration date</button>
                    <button type="button" name="button" class="mdl-button" ng-click="orderByMe('created_at',true)">Added date</button>

                </ul>
            </div>
        </div>

        <div class="mdl-grid">

            <!-- filter -->

            <!-- spacer -->
            <div class="mdl-cell mdl-cell--1-col"></div>
            <!-- groceries mangement -->
            <div class="mdl-cell mdl-cell--10-col">
                <div class="mdl-grid">

                    <!-- card -->

                    <div class="groceries-card mdl-card mdl-cell mdl-cell--3-col mdl-shadow--3dp" ng-repeat="grocery in groceries | orderBy:myOrderBy:bool">
                        <div class="mdl-card__title mdl-card--expand img" style="background-image: url('/assets/fruits.jpg')">
                            <p class="mdl-card__title-text">
                                <a href="/groceries/{{grocery.id}}">
                                    {{grocery.name}}</a>
                            </p>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">

                            <span class="">{{calDaysLeft(grocery.expiration_date)}}
                                Days</span>

                            <button class="mdl-button mdl-js-button mdl-button--icon" data-toggle="modal" data-target="#myModal3" data-backdrop="false">
                                <i class="material-icons">mode_edit</i>
                            </button>

                            <button class="mdl-button mdl-js-button mdl-button--icon">
                                <i class="material-icons" ng-click="deleteGroceries(grocery)">remove</i>
                            </button>

                        </div>
                    </div>
                </div>

                <!-- card end -->

                <!-- <div class="">

              </div>
                        <p>Edit Grocery:</p>
                        Grocery Name:
                        <input ng-model="editGroceryName"><br>
                        Expiration Date:
                        <input ng-model="editExpirationDate" type="date"><br>
                        <button ng-click="editGroceries(editGroceryName, editExpirationDate, grocery)">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>

                        <button ng-click="deleteGroceries(grocery)">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </div> -->
                <!-- <br> -->
            </div>
        </div>
        <br><br><br>

        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col text-center">
            <h5 class="">Base on your groceries, Here is list of Recipe We Recommand for You</h5>
          </div>

            <br>
            <!-- card -->

            <div class="mdl-card mdl-cell mdl-cell--3-col mdl-shadow--3dp recipe_card" ng-repeat="recipe in recipes">

                <div class="mdl-card__title mdl-card--expand img" style="background-image:url('{{recipe.image}}')">
                    <p class="mdl-card__title-text bold_text" ng-click="setupRecipe(recipe.id)" data-toggle="modal" data-target="#myModal" data-backdrop="false">{{recipe.title}}</p>
                </div>
                <!-- <div class="mdl-card__supporting-text"></div> -->
                <div class="mdl-card__actions mdl-card--border mdl-grid">
                    <div class="mdl-cell mdl-cell--7-col"></div>
                    <div class="mdl-cell mdl-cell--2-col">
                        <button class="mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">star_border</i>
                        </button>
                    </div>
                    <div class="mdl-cell mdl-cell--2-col">
                        <button class="mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">share</i>
                        </button>
                    </div>
                    <div class="mdl-cell mdl-cell--1-col"></div>
                </div>
            </div>

            <!-- card end -->

            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog" id="recipe_modal">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{single_recipe.title}}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{{single_recipe.image}}" alt="single_recipe.image" class="img-responsive">
                                </div>
                                <div class="col-md-8">
                                    <ul>
                                        <li>Servings:
                                            {{single_recipe.servings}}</li>
                                        <li>Source:
                                            {{single_recipe.sourceName}}</li>
                                    </ul>
                                </div>
                            </div>

                            <!-- ingredients -->
                            <div class="row">
                              <h5> Ingredients:</h5>
                              <div class="" ng-repeat="ingredient in ingredients">
                                <div class="clearfix" ng-if="$index % 3 == 0"></div>
                                <div class="col-sm-4">
                                  <img src="{{ingredient.image}}" alt="" class="ingredients_img">
                                  <p>{{ingredient.amount}} {{ingredient.unit}} {{ingredient.name}}</p>
                                </div>
                              </div>
                            </div>

                            <!-- instruction -->
                            <div class="" ng-repeat="instruction in instructions">
                                <div class="" ng-repeat="step in instruction.steps">
                                    <p> Step
                                        {{step.number}}:
                                        {{step.step}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
