<h1>Groceries: </h1>

<% @groceries.each do |grocery| %>
<h4>Name:
    <%= grocery.name %></h4>
<p>Made By:
    <%= grocery.made_by %></p>
<p>Expiration Date:
    <%= grocery.expiration_date %></p>
    <br>
<% end %>
