<div class="" ng-app="app">
  <div class="" ng-controller="groceryCtrl">
    <div class="" ng-init="setupGrocery(<%= @grocery_id %>)">
      <div class="row">
        <div class="col-md-4">
          <div class="jumbotron">
            <p>{{grocery.name}}</p>
            <p>Expiration Date: {{grocery.expiration_date}}</p>
          </div>
        </div>
        <div class="col-md-8">
            <div ng-repeat="recipe in recipes">
              <div class="jumbotron">
                <div class="row">
                  <div class="col-md-4">
                    <img src="{{recipe.image}}" alt="" class="img-responsive">
                  </div>
                  <div class="col-md-8">
                    <p><a href="">{{recipe.title}}</a></p>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
