<h1>Groceries#show</h1>
<p>Find me in app/views/groceries/show.html.erb</p>
<h4>Name:
    <%= @grocery.name %></h4>
<p>Made By:
    <%= @grocery.made_by %></p>
<p>Expiration Date:
    <%= @grocery.expiration_date %></p>
