// Place all the styles related to the Groceries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img {
    position: relative;
    width: 230px;
    height: 220px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}






.groceries-card > .mdl-card__title {

}

.days_left_card {
    float: right;
}

#grocery_content {
    background-color: white;
}

#grocery_header {
    text-align: center;
}

.mdl-card__supporting-text {
    font-size: 1em;
}

.text-center {
  text-align: center;
}
